<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{#if pageTitle}}{{pageTitle}} - {{/if}}OAuth 2.0 Server</title>
    {{> head}}
</head>
<body>
    {{#if showHeader}}
        {{> header user=user}}
    {{/if}}
    
    <main>
        {{{body}}}
    </main>
    
    {{#if showFooter}}
        {{> footer}}
    {{/if}}
    
    {{#if includeScripts}}
        {{> scripts}}
    {{/if}}
</body>
</html> 